.dividend-table-container {
    width: 100%;
    height: 100%;
}

.dividend-table {
    width: 100%;
    height: 100%;
    padding: 25px;
}

.table-header-font {
    text-align: right;
    font-weight: 500;
    padding: 0 0 25px 0;
    font-size: 16px;
}

.table-header-font:first-child {
    text-align: left;
    font-weight: 500;
    padding: 0 0 25px 0;
    font-size: 16px;
}

.data-company {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.data-company .company-symbol {
    text-align: left;
    font-weight: bold;
    padding: 10px 0 0 0;
    font-size: 18px;


    display: inline-block;
    white-space: nowrap; 
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    cursor: default;
}

.data-company .company-name {
    text-align: left;
    font-weight: 500;
    padding: 0 0 10px 0;
    font-size: 12px;
}

.data {
    text-align: right;
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
}